h1 {
    font-size: 2em;
    font-weight: bold;
}

#headerMenu {
    max-width: 100%;
    background-color: yellow;
    padding: 1em 2em;
    margin-bottom: 3em;
    text-transform: uppercase;
}

#headerMenu ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#headerMenu a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.5em;
}

#headerMenu a:hover {
    color: red;
}